
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate {
  animation: fadeIn 0.8s ease-out;
  animation-fill-mode: forwards;
}

.card {
  opacity: 0;
}


.card-testimonial{
  border-radius: 1rem;
  border: 2px solid rgba(202, 202, 202, 0.5);
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) saturate(125%);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
}

.blockquote-footer {
  margin-top: auto;
  padding-top: 15px; /* Add padding if needed for extra space */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 20rem;
}

.service-image{
    object-fit: cover;
    aspect-ratio: 1/1;
    object-position: center;
}


footer {
  margin-top: auto;
}

.nav-item {
    position: relative;
    display: inline-block;
}

.nav-pawcare {
  color: white;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) saturate(125%) !important;
  transform: translateZ(0);
}


.dropdown-menu {
display: none;
position: absolute;
z-index: 1;
background-color: rgba(255, 255, 255, 0.1) !important;
backdrop-filter: blur(10px) saturate(125%) !important;
-webkit-backdrop-filter: blur(10px) saturate(125%) !important;
}

.dropdown-item {
  background-color: transparent; /* Tambahkan background-color pada item dropdown */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.dropdown-top:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem 0.3rem 0 0;
}
.dropdown-bottom:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0.3rem 0.3rem;
  transition: 0.3s;
}
.nav-item:hover .dropdown-menu {
    display: block;
}

  .table-responsive .table {
      background-color: rgba(0, 0, 0, 0.6) !important;
  }

  /* Jika Anda ingin juga membuat header tabel transparan */
  .table-responsive .table thead {
      background-color: rgba(0, 0, 0, 0.6) !important;
  }

  #dataTable {
    background-color: transparent !important;
}
.template-button {
  background-color: transparent; /* Tambahkan background-color pada item dropdown */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.template-button:hover {
  color: black;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 0.3rem;
}

table{
  background-color: transparent !important;
}
.animate-slide {
  transition: transform 0.3s ease-in-out !important;
  display: inline-block; /* Ensures the element can scale properly */
}

.carousel-inner {
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.animate-slide:hover {
    transform: scale(1.05); /* Increases size by 10% */
}

h1 {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.template-paw{
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) saturate(125%);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
}


.image-checkbox img {
  opacity: 0.6;
  width: 150px;
  }


.image-checkbox input[type=checkbox]:checked + img {
  opacity: 1;

  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
}

.template-img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.header-home {
  padding-top: 2rem !important;
}

.h1-order {
padding: 1rem 0 1rem 0;
border-radius: 1rem;
background-color: rgba(255, 255, 255, 0.1) !important;
backdrop-filter: blur(10px) saturate(125%);

-webkit-box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
-moz-box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);

font-size: 2rem;
text-align: left;
padding-left: 1rem;
}

.header-order {
  padding-top: 3rem !important;
}

.form-input{
  padding-bottom: 1rem;
}

.service-form{
  padding-bottom: 1rem;
}

.form-order{
padding-left: 1rem;
padding-right: 1rem;
}

.form-group {
  margin-bottom: 0.25rem;
}
.form-group label {
    margin-bottom: 0;
    font-size: 1.25rem;
}
.form-group .col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
}
.form-group .form-control {
    max-width: 300px;
    padding-top: .55rem;
    padding-bottom: .25rem;
}
.form-group .input-group {
    max-width: 300px;
}

.h3-order {
  font-size: 1.5rem;
  text-align: left;
  padding-top: 20px;
}

.left-page {
flex: 2;
}

.right-page {
flex: 1;
padding: 0 20px;
}


.h3-order {
margin-bottom: 15px;
}

.product-selection h2 {
margin-top: 0;
}

.container-order {
display: flex;
height: 140vh;
}

.col-md-6 {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.dog-image {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.navbar-pawcare{
  background: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(10px) saturate(125%);
  z-index: 2;
}

.h1-testimoni {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.footer-pawcare{
  background: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(10px) saturate(125%);
  z-index: 2;
  -webkit-backdrop-filter: blur(10px) saturate(125%);
}
